body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  margin-top: 1em !important;
}

hr {
  margin-left: 1em !important;
  margin-right: 1em !important;
}
